/* Fondo de la página */
body {
    background:linear-gradient(white,#6aa2e3,rgb(48, 48, 224));
    font-family: Arial, sans-serif;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.logo{
    height: 200px;
    width: 200px;
    position: absolute;
    top:1px;
    right:1px;
}
.container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    max-width: 800px; /* Ajusta según el diseño deseado */
    margin: 0 auto; 
}

.registro-container {
    display: flex;
    justify-content: space-between; /* Separa las columnas */
    gap: 2rem; /* Ajusta el espacio entre columnas */
    margin-top: 20px;
}
.registro-column {
    width: 48%; /* Cada columna ocupa el 48% del ancho */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaciado entre campos dentro de cada columna */
}

.form-buttons {
    margin-top: 20px;
    text-align: center;
}

/* Encabezado */
h1 {
    color: beige;
    font-size: 1.8em;
    margin-bottom: 20px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid brown;
    background-color: #333;
    color: white;
}

/* Botones de formulario */
input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: #ccff66;
    color: #000;
}
input[type="reset"]:hover {
    background-color: brown;
    color: #000;
}

/* Enlace de regreso */
.home-link {
    display: inline-block;
    margin-top: 20px;
}

