body {
	background:linear-gradient(white,#6aa2e3,rgb(48, 48, 224)); 
	color: #ccff66;
}
.logo{
    height: 200px;
    width: 200px;
    position: absolute;
    top:1px;
    right:1px;
}

.contenedor {
	text-align: center;
	margin-top: 50px;
}

.mensaje {
	font-size: 24px;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.correcto {
	color: #66ff66;
}

.error {
	color: #ff6666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: yellowgreen;
}
